body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home, .nopage , .about, .projects  {
  padding:20px;
}

.work-logo{
  height:80px;
  width:auto;
}

.img-desc{
  width:300px;
  margin:20px;
  padding:20px;
  background-color:antiquewhite;
  border-radius:50% 50% 0 0
}

.works {
  display:flex;
  justify-content: space-around;
  text-align:center;
  flex-wrap:wrap;
}
